@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Roboto');
.border{
    border: 10px  solid white;
    border-style: ridge;

}
div.border2{
    border: 10px solid white;
    border-style: ridge;

}

div.border3{
    border: 10px solid white; 
    border-style: ridge;
 


}
body{
    font-family: "Roboto" ;
    text-align: center;
    color: honeydew;
    background-image: linear-gradient( rgb(224, 224, 255), rgb(44, 207, 212));
    padding: 10px 50px 10px;
}

body{
    color:rgb(3, 109, 109) !important;
    padding: 0 10%;

}
 main{
     width: 80%;

 }