body{
  padding:30px;
}
.flexbox-nav {
  display: flex;
  justify-content: space-between;
  background-color:#C21460;
  font-family: 'Permanent Marker', cursive;
}
.navigation-right{
color: #F7D4E3;
}
.navigation-right:hover{
  color:#B2D732;
}
.flexbox-nav .logo {
  display: flex;
  align-items: center;
  padding: 0 0 0 10px;
  color: #B2D732;
  font-size: 20px;
}
.flexbox-nav .navigation{
  display: flex;
  align-items: center;
}
.flexbox-nav ul li {
  display: inline;
  margin: 20px;
}
.fa-pagelines{
color:rgb(53, 53, 133);
font-size: 40px;
}
.opac{
  background-color:rgba(194, 20, 96, 0.24);
  height:100%;
  width: 100%;  
}
.welcome{
background: url(../images/cover.jpg);
background-size:100% 100%;
/* background-size: contain; */
background-repeat: no-repeat;
  height: 500px;
  background-color:#C21460;
  color: #B2D732;
  font-size: 40px;
  font-family: 'Permanent Marker', cursive;
  display:flex;
  align-items: center;
  justify-content: center;
}
.about-me{
  height: 500px;
  background-color:#F7D4E3;
font-family: 'Permanent Marker', cursive;
color: #C21460;
  display:flex;
  align-items: center;
  justify-content: center;

}
.about-me:hover{
  text-decoration: underline;
}
.projects{
  height: 500px;
  background-color:#94B814;
font-family: 'Permanent Marker', cursive;
color: #2B3409;
  display:flex;
  align-items: center;
  justify-content: center;
flex-direction: column;
}
.proj:hover{
   text-decoration: underline;
}
.proj{
padding: 0 0 50px 0;
}
.pro-list{
    display:grid;
 grid-template-columns: auto auto auto;
  grid-gap: 40px;
  justify-content: center;
   align-content: space-evenly;
}
/* .nasa{
margin: 0 20px;
} */


.tech-stack{
  height: 500px;
  background-color:#C21460;
font-family: 'Permanent Marker', cursive;
color:#F7D4E3;
  display:flex;
  align-items: center;
  justify-content: center;
flex-direction: column;
}
.stack-list{
display: flex;
flex-direction: row;

}
.html{
margin: 0 20px;
}
.html:hover {
animation: pulse 5s infinite;
}

@keyframes pulse {
0% {
  color: #001F3F;
}
100% {
  color: #FF4136;
}
}
.css{
margin: 0 20px;
}
.css:hover {
animation: pulse 5s infinite;
}

@keyframes pulse {
0% {
  color: #001F3F;
}
100% {
  color: #FF4136;
}
}
.js{
margin: 0 0 0 20px;
}
.js:hover {
animation: pulse 5s infinite;
}

@keyframes pulse {
0% {
  color: #001F3F;
}
100% {
  color: #FF4136;
}
}
.contact{
  height: 500px;
  background-color:#F7D4E3;
  font-family: 'Permanent Marker', cursive;
  color: #2B3409;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.has-border{
color: #2B3409;
background-color: white;
padding: 10px;
border-radius: 5px;
cursor: pointer;

}
.has-border:hover{
  box-shadow: 5px 5px 7px 0px;
  color:#C21460;
}
.fas{
transform: rotate(200deg);
font-size: 50px;
color:#2B3409;
margin: 0 0 0 90px;
}
.fas:hover{
  -webkit-animation-name: wiggle;
-ms-animation-name: wiggle;
-ms-animation-duration: 3000ms;
-webkit-animation-duration: 2000ms;
-webkit-animation-iteration-count: 1;
-ms-animation-iteration-count: 1;
-webkit-animation-timing-function: ease-in-out;
-ms-animation-timing-function: ease-in-out;
}
@-webkit-keyframes wiggle {
0% {-webkit-transform: rotate(190deg);}
25% {-webkit-transform: rotate(-190deg);}
50% {-webkit-transform: rotate(200deg);}
75% {-webkit-transform: rotate(-190deg);}
100% {-webkit-transform: rotate(200deg);}
}


.footer{
  height: 200px;
  background-color:#2B3409;
  display:flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.small-text{
color: white;
font-size: 10px;
}
.fab{
  font-size: 20px;
}