body{
    padding:30px;
    background: url("../../images/salon.jpg") no-repeat center center fixed; 
    background-size: cover;
    font-family: 'M PLUS 1p', sans-serif;
  
}
.image-opacity{
  background:rgba(255, 255, 255, 0.61);
}
.flexbox-nav {
    display: flex;
    justify-content: space-between;
    border: solid rgba(26, 26, 26);
    border-radius: 5px;
    background: rgb(26, 26, 26);
    color: white;
    padding: 0 25px;
    margin: 1px;
    opacity: 0.7;
  
  }
  .flexbox-nav .logo {
    display: flex;
    align-items: center;
  }
  .flexbox-nav .navigation{
    display: flex;
    align-items: center;
  }
  .flexbox-nav ul li {
    display: inline;
    padding: 0px 30px 0;
  }
.navigation-right{
  display: flex;
  
}
.top-heading{
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}
.middle-portion{
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0 0 0;
}

.btn{
  background-color: rgb(96, 128, 0);
  border: none; 
  border-radius: 4px;
  color: white;
  font-size: 20px;
  padding: 12px 60px;
  cursor: pointer;
  opacity:0.5;
  margin: 0 10px 0;
}

.buttons{
  display:flex;
  align-items: center;
  justify-content: center;
  
}

.bottom-portion{
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 80px 0 0 0;
}

.paragraph{
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  text-align: center;
}