

.top-nav{
    float:right;
     display:flex;
    justify-content: flex-end;
    flex-direction: column;
    align-content: space-around;
     margin: 0 30px 
  
}

/* .top-page{
    display: flex;
    flex-direction: row;
    align-content: space-around; */
    


}

li{
    border: black
}
.border-red{
    color:black;
}
img{
    width: 500px;
    display: inline;
    width: 70%;
    box-shadow: grey 0px 5px 5px;

}

.footer{
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: grey;
}

#button{
    display: flex;
    justify-content: space-around;
}

@media (min-width:576px) {
    .top-nav{ display:none; }
    .footer{ display: none;}
}
@media (max-width:576px) {
    .top-nav{ display:none;}
   
}
@media (min-width: 768px) {
    .top-nav{  display:inline; }
    .footer{ display: none;}

}